<p id="notice"><%= notice %></p>
<p>
  <%= image_tag @content.cover.url(:medium) %>
</p>
<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @content.price %>
</p>
<%= link_to 'Edit', edit_content_path(@content) if @content.user == current_user %> |

<%= link_to 'Back', contents_path %>
